{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'webapp:my_home' %}">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#notificationsModal">
                        Notifications <span class="badge badge-danger">{{ notifications|length }}</span>
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'webapp:logout' %}">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="notificationsModal" tabindex="-1" role="dialog" aria-labelledby="notificationsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationsModalLabel">Money Requests</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Requester</th>
                            <th>Amount</th>
                            <th>Currency</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for money_request in notifications %}
                            <tr>
                                <td>{{ money_request.requester.username }}</td>
                                <td>{{ money_request.amount }}</td>
                                <td>{{money_request.currency}}</td>
                                <td>
                                    <form action="{% url 'webapp:accept_request' money_request.id %}" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success">Accept</button>
                                    </form>
                                    <form action="{% url 'webapp:deny_request' money_request.id %}" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Deny</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container py-5">
        <h1>Welcome to your Dashboard</h1>
        <p>Your account balance: <strong>{{ user_balance }} - {{ user_currency }}</strong></p>

        <div class="my-4">
            <h2>Send Money</h2>
            <form method="post" action="{% url 'webapp:send_money' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="receiver" class="form-label">Receiver</label>
                    <input type="text" class="form-control" id="receiver" name="receiver" required>
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" step="0.01" class="form-control" id="amount" name="amount" required>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>

        <div class="mt-4">
            <h2>Your Transactions</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Receiver</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Exchange Currency</th>
                    <th scope="col">Exchange Rate</th>
                    <th scope="col">Converted Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr style="{% if transaction.sender == user %}color: red;{% else %}color: green;{% endif %}">
                        <td>{{ transaction.timestamp }}</td>
                        <td>{{ transaction.sender.username }}</td>
                        <td>{{ transaction.receiver.username }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.exchange_currency }}</td>
                        <td>{{ transaction.exchange_rate }}</td>
                        <td>{{ transaction.converted_amount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="my-4">
        <h2>Request Money</h2>
        <form method="post" action="{% url 'webapp:request_money' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="receiver" class="form-label">Receiver Username</label>
                <input type="text" class="form-control" id="receiver" name="receiver" required>
            </div>
            <div class="mb-3">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" step="0.01" class="form-control" id="amount" name="amount" required>
            </div>
            <button type="submit" class="btn btn-primary">Send Request</button>
        </form>
    </div>
    <div class="mt-4">
        <h2>Your Money Requests</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Accepted</th>
                <th scope="col">Completed</th>
                <th scope="col">Receiver</th>
                <th scope="col">Amount</th>
                <th scope="col">Currency</th>

            </tr>
            </thead>
            <tbody>
            {% for sent_money_request in sent_money_requests %}
                <tr>
                    <td>{{ sent_money_request.timestamp }}</td>
                    <td>{{ sent_money_request.accepted }}</td>
                    <td>{{ sent_money_request.completed }}</td>
                    <td>{{ sent_money_request.receiver }}</td>
                    <td>{{ sent_money_request.amount }}</td>
                    <td>{{ sent_money_request.currency }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function handleMoneyRequests() {
            $('#notificationsModal').modal('hide');
        }
       
    </script>
{% endblock %}